body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
}
/*
 * Formatting the header area
 */
header {
    width: 100%;
    margin-bottom: 10px;
}
/*
 * Body content
 */
img {
    max-width: 100%;
    max-height: 100%;
}
h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}
h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
}
button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
select {
    padding:9px0;
    border:none;
    font-size: 1em;
    border-bottom:1px solid #ccc;
}



#partsList {
    display: none;
}
#idList {
    display: none;
}
#submit {
    display: "block";
}


.hover:hover {
    color:#fff!important;
    background-color:#2196F3!important
}
.hover:active {
    color:#fff!important;
    background-color:#014d66!important
}
.button{
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
    display: inline-block;
}
.loader-container {
    padding: 7px;
    width: 99.5px;
    background-color: #008CBA;
    text-align:center;
    display: none;
}
.submit {
    display: "block";
}
.checkbox {
    width: 17px;
    height: 17px;
}
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 300px; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #008CBA; /* Blue background */
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #008CBA; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.circle_big {
    font-size: 3em;
    text-align: center;
}
.circle_small {
    font-size: 1em;
    text-align: center;
    vertical-align: 50%;
}
.slider_text {
    position:relative;
    left:150px;
}
.inline {
    display: inline;
}
.hidden {
    display: none;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #006182;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #2196F3!important;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #008CBA;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}