<!doctype html>

<head>
    <title>CEEO Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header><h1> Tufts CEEO App </h1></header>
    <hr>

    <button onclick="hidePartsList()" class="hover">Parts List</button>
    <div id="partsList">
        <p>
            <b> All parts in document: </b><br>
            {% for part in return1 %}
                <br>{{part}}
            {% endfor %}
        </p>
    </div>
    <hr>

    {% if condition1 %}
        <h3 style="text-align:left; color:#000000;"> Generated GIF </h3>
        <img src="{{ image1 }}" alt="GIF of the assembly"/>
        <hr>
    {% endif %}

    <form action="/gif">
        <h3 style="text-align:left; color:#000000;"> GIF Maker </h3>

        <label for="frames">Frames:</label>
        <input type="number" id="frames" name="frames" value={{FRAMES}} style="width:50px" min="1"><br>

        <p>------------------------------------------</p>

        <span>Rotation Direction:</span>
        <input type="checkbox" id="rotateX" name="rotateX" onclick="showRotate()"
               {% if DIRECTION == 4 or DIRECTION == 5 or DIRECTION == 6 or DIRECTION == 7 %} checked {% endif %}>
        <label for="rotateX">X</label>
        <input type="checkbox" id="rotateY" name="rotateY" onclick="showRotate()"
               {% if DIRECTION == 2 or DIRECTION == 3 or DIRECTION == 6 or DIRECTION == 7 %} checked {% endif %}>
        <label for="rotateY">Y</label>
        <input type="checkbox" id="rotateZ" name="rotateZ" onclick="showRotate()"
               {% if DIRECTION == 1 or DIRECTION == 3 or DIRECTION == 5 or DIRECTION == 7 %} checked {% endif %}>
        <label for="rotateZ">Z</label><br>

        <div id="rotations" {% if ROTATE %} style="display:none;" {% endif %}>
            <br><label for="rotation">Total Rotation (clockwise):</label>
            <input type="number" id="rotation" name="rotation" value={{ROTATION}} style="width:60px" step="0.01"> degrees<br>
        </div>

        <p>------------------------------------------</p>

        <label for="zoom_auto" class="switch">No Zoom (Automatically Zooms):</label>
        <input type="checkbox" id="zoom_auto" name="zoom_auto" onclick="showZooms()" class="checkbox"
                   {% if ZAUTO %} checked {% endif %}><br>

        <div id="zooms" {% if ZAUTO %} style="display:none;" {% endif %}>
            <br><label for="zoom_start">Starting Zoom:</label><br>
            <span class="circle_small">●</span>
            <input type="range" min="1" max="1000" id="zoom_start_slider" name="zoom_start" value={{ZSTART}} class="slider">
            <span class="circle_big">●</span><br>
            <input type="number" id="zoom_start" value={{ZSTART}} style="width:60px" class="slider_text" min="1" max="1000"><br><br>

            <div id="mid_zoom2" {% if not ZOOM2 %} style="display:none;" {% endif %}>
                <label for="do_zoom_mid" class="switch">Middle Zoom:</label>
                <input type="checkbox" id="do_zoom_mid" name="do_zoom_mid" onclick="showZoomMid()" class="checkbox"
                       {% if ZOOM3 %} checked {% endif %}><br>
                <div id="mid_zoom" {% if not ZOOM3 %} style="display:none;" {% endif %}>
                    <span class="circle_small">●</span>
                    <input type="range" min="1" max="1000" id="zoom_mid_slider" name="zoom_mid" value={{ZMID}} class="slider">
                    <span class="circle_big">●</span><br>
                    <input type="number" id="zoom_mid" value={{ZMID}} style="width:60px" class="slider_text" min="1" max="1000"><br>
                </div><br>
            </div>

            <label for="do_zoom_end" class="switch">Ending Zoom:</label>
            <input type="checkbox" id="do_zoom_end" name="do_zoom_end" onclick="showZoomEnd()" class="checkbox"
                   {% if ZOOM2 %} checked {% endif %}><br>
            <div id="end_zoom2" {% if not ZOOM2 %} style="display:none;" {% endif %}>
                <span class="circle_small">●</span>
                <input type="range" min="1" max="1000" id="zoom_end_slider" name="zoom_end" value={{ZEND}} class="slider">
                <span class="circle_big">●</span><br>
                <input type="number" id="zoom_end" value={{ZEND}} style="width:60px" class="slider_text" min="1" max="1000"><br>
            </div>
        </div>

        <p>------------------------------------------</p>

        <label for="start_view">Choose The Starting View Angle:</label>
        <select name="start_view" id="start_view">
            {%for part in range(0, return2_len)%}
                <option value="{{return2[part]}}" {% if selected1==return2[part] %} selected="selected" {% endif %}>{{return2[part]}}</option>
            {% endfor %}
        </select><br><br>

        <label for="edges" class="switch">Show Edges:</label>
        <input type="checkbox" id="edges" name="edges"  class="checkbox" {% if EDGES %} checked {% endif %}><br><br>

        <label for="loop" class="switch">Loop GIF:</label>
        <input type="checkbox" id="loop" name="loop"  class="checkbox" {% if LOOP %} checked {% endif %}><br><br>

        <label for="duration">Duration of each frame:</label>
        <input type="number" id="duration" name="duration" value={{DURATION}} style="width:50px" min="10"> milliseconds<br>
        <span style="font-size:.7em">20ms (50fps) is the max speed for most browsers & apps,<br>
            any lower will likely cause your browser to display it at 10fps instead</span><br>

        <p>------------------------------------------</p>

        <label for="name">Filename:</label>
        <input type="text" id="name" name="name" value={{NAME}}><br><br>

        <label for="height">Height:</label>
        <input type="number" id="height" name="height" value={{HEIGHT}} style="width:50px" min="1" max="9459"> pixels<br><br>

        <label for="width">Width:</label>
        <input type="number" id="width" name="width" value={{WIDTH}} style="width:50px" min="1" max="9459"> pixels<br><br>

        <div id="submit"><input type="submit" value="Create" class="hover button" onclick="showLoader()"></div>
        <div class="loader-container" id="loader"><div class="loader"></div></div>

    </form>
    <hr>

    <button onclick="hideIdList()" class="hover">Document ID's</button>
    <div id="idList">
        <p id="did">DocumentId: {{DID}}</p>
        <p id="wid">WorkspaceId: {{WID}}</p>
        <p id="eid">ElementId: {{EID}}</p>
    </div>

    <form action="/home">
        <br>
        <input type="submit" value="Reset" class="hover button">
    </form>
    <br>
</body>

<script>
function hidePartsList() {
  const x = document.getElementById("partsList");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

function hideIdList() {
  const x = document.getElementById("idList");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

function showLoader() {
  let x = document.getElementById("submit");
  let y = document.getElementById("loader");
  const id1 = document.getElementById("frames");
  const id2 = document.getElementById("rotation");
  const id3 = document.getElementById("zoom_start");
  const id4 = document.getElementById("zoom_end");
  const id5 = document.getElementById("zoom_mid");
  const id6 = document.getElementById("duration");
  const id7 = document.getElementById("height");
  const id8 = document.getElementById("width");


  if (x.style.display === "none" || !id1.checkValidity() || !id2.checkValidity() || !id3.checkValidity()
  || !id4.checkValidity() || !id5.checkValidity() || !id6.checkValidity() || !id7.checkValidity()
  || !id8.checkValidity()) {
    x.style.display = "block";
    y.style.display = "none";
  } else {
    x.style.display = "none";
    y.style.display = "block";
  }
}

var slider = document.getElementById("zoom_start_slider");
var input = document.getElementById("zoom_start");
var slider2 = document.getElementById("zoom_end_slider");
var input2 = document.getElementById("zoom_end");
var slider3 = document.getElementById("zoom_mid_slider");
var input3 = document.getElementById("zoom_mid");

var inputValue = parseInt(input.value);
var inputValue2 = parseInt(input2.value);
var inputValue3 = parseInt(input3.value);
slider.value = inputValue; // Display the default value
slider2.value = inputValue2;
slider3.value = inputValue3;

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  input.value = this.value;
}
slider2.oninput = function() {
  input2.value = this.value;
}
input.oninput = function() {
  slider.value = this.value;
}
input2.oninput = function() {
  slider2.value = this.value;
}
slider3.oninput = function() {
  input3.value = this.value;
}
input3.oninput = function() {
  slider3.value = this.value;
}

function showZooms() {
  let x = document.getElementById("zooms");

  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
    input.value = inputValue;
    slider.value = inputValue;
    input2.value = inputValue2;
    slider2.value = inputValue2;
  }
}

function showZoomMid() {
  let x = document.getElementById("mid_zoom");

  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
    input3.value = inputValue3;
    slider3.value = inputValue3;
  }
}

function showZoomEnd() {
  let x = document.getElementById("mid_zoom2");
  let y = document.getElementById("end_zoom2");

  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "block";
  } else {
    x.style.display = "none";
    y.style.display = "none";
    input3.value = inputValue3;
    slider3.value = inputValue3;
    input2.value = inputValue2;
    slider2.value = inputValue2;
  }
}

var rotate = document.getElementById("rotation");
var rotateValue = parseInt(rotate.value);

function showRotate() {
  let x = document.getElementById("rotations");
  let a = document.getElementById("rotateX").checked;
  let b = document.getElementById("rotateY").checked;
  let c = document.getElementById("rotateZ").checked;

  if (a || b || c) {
    x.style.display = "block";
  } else {
    x.style.display = "none";
    rotate.value = rotateValue;
  }
}
</script>