<!doctype html>

<head>
    <title>CEEO Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header><h1> Tufts CEEO App </h1></header>
    <hr>

    <!--This is the parts list section. Stays hidden unless button is pressed. Autofill through flask with "return1"-->
    <button onclick="hidePartsList()" class="hover">Parts List</button>
    <div id="partsList">
        <p>
            <b> All parts in document: </b><br>
            {% for para in return1 %}
                <br>{{para}}
            {% endfor %}
        </p>
    </div>
    <hr>
<!--    <div>-->
<!--        <iframe src="http://localhost:5688/?kernel=python&toolbar=1" width="100%" height="600"></iframe>-->
<!--    </div>-->
<!--    <hr>-->

    <!--This is the view creator section. When the submit button is loaded calls "/home2"-->
    <form action="/home2">
        <h3> {{ condition1 }} - View </h3>
        <img src="data:image/jpeg;base64,{{ img_data }}" alt="img_data"  id="imgslot"/>
        <br>

        <label for="view_matrix">Change View Angle:</label>
        <select name="view_matrix" id="view_matrix">
            <option value="Front" {% if condition2=="Front" %} selected="selected" {% endif %}>Front</option>
            <option value="Back" {% if condition2=="Back" %} selected="selected" {% endif %}>Back</option>
            <option value="Top" {% if condition2=="Top" %} selected="selected" {% endif %}>Top</option>
            <option value="Bottom" {% if condition2=="Bottom" %} selected="selected" {% endif %}>Bottom</option>
            <option value="Left" {% if condition2=="Left" %} selected="selected" {% endif %}>Left</option>
            <option value="Right" {% if condition2=="Right" %} selected="selected" {% endif %}>Right</option>
            <option value="Isometric" {% if condition2=="Isometric" %} selected="selected" {% endif %}>Isometric</option>
            <option value="Flipped Isometric" {% if condition2=="FlippedIsometric" %} selected="selected" {% endif %}>Flipped Isometric</option>
        </select>

        <div id="submit"><input type="submit" name="refresh" value="Refresh" class="hover button" onclick="showLoader()"></div>
        <div class="loader-container" id="loader"><div class="loader"></div></div>
    </form>
    <hr>

    <button onclick="hideidList()" class="hover">Document ID's</button>
    <div id="idList">
        <p id="did">DocumentId: {{DID}}</p>
        <p id="wid">WorkspaceId: {{WID}}</p>
        <p id="eid">ElementId: {{EID}}</p>
    </div>

    <form action="/home2">
        <br>
        <input type="submit" value="Reset" class="hover button">
    </form>
    <br>

</body>

<script>
function hidePartsList() {
  var x = document.getElementById("partsList");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

function hideidList() {
  var x = document.getElementById("idList");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

function showLoader() {
  var x = document.getElementById("submit");
  var y = document.getElementById("loader");
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
  } else {
    x.style.display = "none";
    y.style.display = "block";
  }
}
</script>