<!doctype html>

<head>
    <title>CEEO Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header><h1> Tufts CEEO App </h1></header>
    <hr>

    <button onclick="hidePartsList()" class="hover">Parts List</button>
    <div id="partsList">
        <p>
            <b> All parts in document: </b><br>
            {% for part in return1 %}
                <br>{{part}}
            {% endfor %}
        </p>
    </div>
    <hr>

    <form action="/graph">
        <h3 style="text-align:left; color:#000000;"> Rotate Part and Graph Tracked Positions </h3>

        <span>Rotation Direction:</span>
        <input type="checkbox" id="rotateX" name="rotateX"
               {% if DIRECTION == 4 or DIRECTION == 5 or DIRECTION == 6 or DIRECTION == 7 %} checked {% endif %}>
        <label for="rotateX">X</label>
        <input type="checkbox" id="rotateY" name="rotateY"
               {% if DIRECTION == 2 or DIRECTION == 3 or DIRECTION == 6 or DIRECTION == 7 %} checked {% endif %}>
        <label for="rotateY">Y</label>
        <input type="checkbox" id="rotateZ" name="rotateZ"
               {% if DIRECTION == 1 or DIRECTION == 3 or DIRECTION == 5 or DIRECTION == 7 %} checked {% endif %}>
        <label for="rotateZ">Z</label><br><br>

        <label for="step">Number of rotation steps:</label>
        <input type="number" id="step" name="step" value={{STEP}} style="width:60px" step="1" min="3"><br><br>

        <label for="rotate_part">Choose Part To Rotate:</label>
        <select name="rotate_part" id="rotate_part">
            {%for part in range(0, return2_len)%}
            <option value="{{return2[part]}}" {% if selected1==return2[part] %} selected="selected" {% endif %}>{{return2[part]}}</option>
            {% endfor %}
        </select><br><br>

        <label for="input_track">Choose Part To Track Input:</label>
        <select name="input_track" id="input_track">
            {%for part in range(0, return2_len)%}
            <option value="{{return2[part]}}" {% if selected2==return2[part] %} selected="selected" {% endif %}>{{return2[part]}}</option>
            {% endfor %}
        </select><br><br>

        <label for="output_track">Choose Part To Track Output:</label>
        <select name="output_track" id="output_track">
            {%for part in range(0, return2_len)%}
            <option value="{{return2[part]}}" {% if selected3==return2[part] %} selected="selected" {% endif %}>{{return2[part]}}</option>
            {% endfor %}
        </select><br><br>

        <div><input type="submit" value="Submit" class="hover button submit" onclick="showLoader()"></div>
        <div class="loader-container"><div class="loader"></div></div>

        {% if condition1 %}
            <img src="data:image/jpeg;base64,{{ image1 }}" alt="Graph of the data"/>
        {% endif %}

    </form>
    <hr>

    <button onclick="hideIdList()" class="hover">Document ID's</button>
    <div id="idList">
        <p id="did">DocumentId: {{DID}}</p>
        <p id="wid">WorkspaceId: {{WID}}</p>
        <p id="eid">ElementId: {{EID}}</p>
    </div>

    <form action="/home">
        <br>
        <input type="submit" value="Reset" class="hover button submit" onclick="showLoader(true)" id="reset">
        <div class="loader-container" style="width:91.5px"><div class="loader"></div></div>
    </form>
    <br>
</body>

<script>
function hidePartsList() {
  var x = document.getElementById("partsList");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

function hideIdList() {
  var x = document.getElementById("idList");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

function showLoader() {
    showLoader(false);
}

function showLoader(override) {
  let x = document.getElementsByClassName("submit");
  let y = document.getElementsByClassName("loader-container");
  const id1 = document.getElementById("rotate_part");

  if (override || id1.checkValidity()) {
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
        y[i].style.display = "block";
    }
  }
}
</script>